*.egg-info
*.py[c|o]
/.Python
/.installed.cfg
/.mr.developer.cfg
/bin
/buildout.cfg
/develop-eggs
/etc/crontab.devpid
/etc/devpi-server.plist
/etc/devpi.service
/etc/supervisord.conf
/etc/proxy
/gen-config/
/get-pip.py
/include
/lib
/lib64
/parts
/pip-selfcheck.json
/var/
